

<nav>
  <div>
      <mat-toolbar class="mat-toolbar" color="primary">
          <a class="logo navbar-brand" routerLink="''"><img src="assets/images/logo.png" class="image image-responsive"></a>
          <span class="example-spacer"></span>
          <button mat-button [matMenuTriggerFor]="menu">
              <img class="logo-image" src="assets/icons/setting2.png">
            username
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="profile">الملف الشخصي</button>
            <button mat-menu-item routerLink="reset-password">تغير كلمة المرور</button>
            <button mat-menu-item (click)="logout()">تسجيل الخروج</button>
          </mat-menu> 
          <button mat-button style="border-right: 2px solid #000" routerLink="setting">
              <img class="logo-image" src="assets/icons/setting2.png">
          </button>
        
      </mat-toolbar>
  </div>
</nav>

  <!-- Content here -->

<div class="content">
  <h1>
    <!-- {{productsAre.data.id}}
    {{productsAre.data.code}}
    {{productsAre.data.name}} -->


  </h1>
    <router-outlet></router-outlet>
</div>  