
<!-- <div class="grid-container"> -->
  <h1 class="mat-h3">تحديد الطاولات</h1>
  <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            1
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
              طاولة رقم 
              <br>
              2
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
              طاولة رقم 
              <br>
              3
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
              طاولة رقم 
              <br>
              4
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
              طاولة رقم 
              <br>
              5
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
              طاولة رقم 
              <br>
              6
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            7
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            8
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            9
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            10
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            11
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            12
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            13
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            14
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            15
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            16
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            17
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            18
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            19
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            20
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            21
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            22
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            23
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button  color="primary">
            طاولة رقم 
            <br>
            24
          </button>
      </mat-grid-tile>
      <!-- <mat-grid-tile>7</mat-grid-tile> -->
  </mat-grid-list>
<!-- </div> -->
